# Colorize grep output (good for log files)
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# my custom
if type -q eza
    set -gx EZA_ICON_SPACING 2
    alias ls="eza --group-directories-first"
    alias ll="eza -lah --group-directories-first --git"
    alias la="eza -la --group-directories-first --git"
    alias lt="eza --tree --level=2 --group-directories-first"
    alias lsi="eza --icons=always --group-directories-first"
    alias lli="eza -lah --icons=always --group-directories-first --git"
else
    alias ls="command ls --color=auto"
    alias ll="command ls -lah --color=auto"
    alias la="command ls -la --color=auto"
end

alias dt="date '+%m/%d/%Y %H:%M:%S'"
# alias lf="lfub"
if type -q bat
    alias cat="bat --style=plain --paging=never"
end
# alias bat="bat -un"
alias mip='curl icanhazip.com'
alias mpip='proxychains curl icanhazip.com'
alias march='sudo reflector --save /etc/pacman.d/mirrorlist --country Netherlands,France,Iran --sort rate'
alias smmain='sshfs main: ~/.remotes/main'
alias sumain='fusermount -u ~/.remotes/main'
alias ipt='sudo iptables -L -n -v --line-numbers'
alias ip='ip -br -c'
alias ssha='ssh-add'
alias sshd='ssh-add -d'
alias otp='pass otp -c'
alias rsync="rsync --exclude='.git/'"
alias drsync="rsync --exclude='.git/' --delete"
alias byee="poweroff"
alias code="code --ozone-platform=wayland"
alias sway="{{ .chezmoi.homeDir }}/.config/sway/scripts/start.sh"

