[Desktop Entry]
Type=Application
Name=Foot
GenericName=Terminal Emulator
Comment=Fast Wayland terminal using the Foot server
Exec={{ .chezmoi.homeDir }}/.local/bin/terminal
Icon=foot
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
StartupWMClass=foot
Keywords=shell;prompt;command;commandline;cmd;
